<?xml version = "1.0"?>
<robot name = "agent" xmlns:xacro = "http://www.ros.org/wiki/xacro">
    <!-- ARGUMENTS AND PARAMETERS -->
    <xacro:arg name = "agent_name" default = "agent"/>
    <xacro:arg name = "use_ros_control" default = "false"/>

    <xacro:property name = "prefix" value = "$(arg agent_name)"/>

    <!-- INCLUDE FILES -->
    <xacro:include filename = "agent_body.xacro"/>
    <xacro:include filename = "agent_peripherals.xacro"/>
    <xacro:include filename = "agent_gazebo_properties.xacro"/>

    <!-- if using ros2_control -->
    <xacro:if value = "$(arg use_ros_control)">
        <xacro:include filename = "agent_ros_control.xacro"/>
    </xacro:if>

    <!-- if using gazebo control -->
    <xacro:unless value = "$(arg use_ros_control)">
        <xacro:include filename = "agent_gazebo_control.xacro"/>
    </xacro:unless>
</robot>